 <footer>
        <div class="container-fluid bgFooter">
            <div class="row">
                <div class="col col-md-12 wave">

                </div>
            </div>
            <div class="row align-items-center  ">
                <div class="col-12 subscribe">
                    <p class=" text-center "> <strong class="subs">SUSCRÍBETE</strong> EN NUESTRO <strong class="subs">BLOG</strong> </p>
                </div>
                <div class="container-fluid">
                    <form action="">
                        <div class="row ">
                            <div class="col- col-sm-4  text-center align-self-center pt-4 order-3 order-sm-1">
                                <p class="font-weight-bold">SIGUENOS EN NUESTRAS REDES</p>                   
                            </div>
                            <div class="col-sm-3 text-center text-sm-left align-self-center mt-1 socialMedia order-4 order-sm-2">
                                <span class="ico p-1"><a href="#"><img src="assets/Footer/ico-Facebook.svg" height="45em" style="background-color: black; border-radius: 50%;" alt="Facebook"></a></span>
                                <span class="ico p-1"><a href="#"><img src="assets/Footer/ico-Youtube.svg" height="45em" style="background-color: black; border-radius: 50%;" alt="Youtube"></a></span>
                                <span class="ico p-1"><a href="#"><img src="assets/Footer/ico-Twitter.svg" height="45em" style="background-color: black; border-radius: 50%;" alt="Twitter"></a></span>
                                <span class="ico p-1"><a href="#"><img src="assets/Footer/ico-Instagram.svg" height="45em" style="background-color: black; border-radius: 50%;" alt="Instagram"></a></span>
                            </div>
                            <div class="col-9 col-sm-3 align-self-center mt-3   order-1 order-sm-3">
                                <input class="form-control" type="email" id="inputSub" placeholder="EMAIL ADDRESS" style="background: #8EACC2; color: white;">           
                            </div>
                            <div class="col-3 col-sm-1  text-center align-self-center mt-3 mr-0 pl-0 order-2 order-sm-4">
                                <button type="submit" class="btn" style="background: #8EACC2; color: #18262C;">ENVIAR</button>
                            </div> 
                                                
                        </div>  
                    </form>
                    
                </div>
            </div>
  
        </div>
        <div class="container-fluid">
              <div class="row">
                <div class="col-12 bgDev ">
                    <p class="text-center align-self-center mt-2 mb-2">Galindo Beach Volley &#174; 2020 | Todos los derechos reservados | Desarrollado por Lorena Escobar - Andres Sotelo - Brian Suárez</p>
                </div>
            </div>
        </div>
        
    </footer>