
<div class="container">
    <h1>Registro de usuario</h1>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Ingresa tus Nombres</label>
                <input type="firstName" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Ingresa tus Apellidos</label>
                <input type="lastName" class="form-control" FormControlName="lastname" id="lastName" formControlName="lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Correo electronico</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                 <p class="text-danger" *ngIf="userForm.get('email').hasError('email')" > *El correo no es valido, debe contener un '@'</p>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <p class="text-danger" *ngIf="userForm.get('password').errors?.minlength " > *La contraseña debe contener minimo 6 caracteres</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
</div>